<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registration</title>
    <link href="/auth/auth-style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Registration form</h2>
    <form action="/auth/registration" class="auth-form" method="post" th:object="${userDto}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" name="username" placeholder="Enter your username" required th:field="*{username}"
                   type="text">
            <div class="error-message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></div>
            <div class="error-message" th:if="${fieldNotUnique.contains('username')}" th:text="${fieldNotUnique}"></div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" placeholder="Enter your email" required th:field="*{email}" type="email">
            <div class="error-message" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
            <div class="error-message" th:if="${fieldNotUnique.contains('email')}" th:text="${fieldNotUnique}"></div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" placeholder="Enter your password" required th:field="*{password}"
                   type="password">
            <div class="error-message" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
        </div>
        <button class="btn" type="submit">Registration</button>
    </form>
    <p>Already have an account? <a href="/auth/login">Authorization</a></p>
</div>
</body>
</html>
