<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>grafClaude</title>
    <link rel="stylesheet" href="/user/user-page.css">
    <link rel="stylesheet" href="/user/move-modal.css">
</head>


<body>
<header>
    <div class="search-container">
        <form action="/" method="get">
            <label>
                <input type="text" name="query" class="search-input" placeholder="Поиск файлов и папок..."
                       onkeydown="if(key === 'Enter') this.form.submit();">
            </label>
        </form>
    </div>
    <div class="user-controls">
        <span class="username" th:text="${username}"></span>
        <form action="/auth/logout" method="get">
            <button class="logout-btn">Logout</button>
        </form>
    </div>
</header>

<main>

    <aside class="sidebar">
        <div class="sidebar-top">

            <form action="/upload-content" method="post" enctype="multipart/form-data">
                <label class="sidebar-btn">
                    <img src="/icon/upload-file.png" alt="Upload" class="btn-icon">
                    <input type="file" name="data"
                           accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xml,,.xlsx,.txt,.mp3,.mp4,.zip,.rar,.java,.dwg"
                           onchange="this.form.submit()">
                    <input type="hidden" name="path" th:value="${path}">
                    Загрузить файл
                </label>
            </form>

            <form action="/upload-content" method="post" enctype="multipart/form-data">
                <label class="sidebar-btn">
                    <img src="/icon/upload-folder.png" alt="Upload" class="btn-icon">
                    <input type="file" name="data" webkitdirectory="" directory=""
                           accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xml,,.xlsx,.txt,.mp3,.mp4,.zip,.rar,.java,.dwg"
                           onchange="this.form.submit()">
                    <input type="hidden" name="path" th:value="${path}">
                    Загрузить папку
                </label>
            </form>

            <form action="/create-folder" method="post">
                <button class="sidebar-btn" type="button"
                        onclick="this.nextElementSibling.style.display = 'block'; this.style.display = 'none';">
                    <img src="/icon/folder.png" alt="New Folder" class="btn-icon">
                    <input type="hidden" name="path" th:value="${path}">
                    Создать папку
                </button>
                <div th:if="${error.contains('folder')}" style="color: red">Папка с таким именем уже существует</div>
                <div style="display:none;">
                    <label>
                        <input type="text" class="search-input" name="name" placeholder="Введите имя папки"
                               onkeydown="if(key === 'Enter') this.form.submit();">
                    </label>
                </div>
            </form>

        </div>

        <form action="/" method="get">
            <input type="hidden" name="path" value="Trash">
            <button class="sidebar-btn">
                <img src="/icon/trash.png" alt="Trash" class="btn-icon">
                Корзина
            </button>
        </form>
    </aside>

    <section class="content">

        <div class="path-navigation">
            <form action="/back" method="get">
                <button class="back-button" th:style="${path != null && !path.isEmpty()} ? '' : 'display: none;'">
                    <input type="hidden" name="path" th:value="${path}">
                    <img src="/icon/back.png" alt="Back">
                </button>
            </form>

            <h2 class="path-item current-path"
                th:with="searchResult='Вот что мне удалось найти по запросу: '"
                th:text="${!query.isEmpty()} ? ${searchResult + query} : (${!path.isEmpty() || path.contains('/')} ? ${path} : 'Файлы')">
            </h2>
        </div>

        <div th:each="file : ${content}">
            <div class="folder-item"
                 th:current-path="${path}"
                 th:file-name="${file.name}"
                 th:file-path="${file.path}"
                 ondblclick="redirectToFolder(this)">

                <img th:src="${file.iconPath}" alt="Content icon" class="folder-icon">

                <div class="folder-info">
                    <span class="folder-name" th:text="${file.name}"></span>
                    <span class="folder-date" th:text="${file.lastModified}"></span>
                    <div class="folder-actions">

                        <form action="/download-content" method="get">
                            <input type="hidden" name="path" th:value="${path}">
                            <input type="hidden" name="name" th:value="${file.name}">
                            <input type="hidden" name="isFile" th:value="${file.isFile}">
                            <button class="action-btn">
                                <img src="/icon/download.png" alt="Download">
                            </button>
                        </form>


                        <button onclick="openModal(this)" class="action-btn"
                                th:data-file-name="${file.name}"
                                th:data-is-file="${file.isFile}"
                                th:data-file-path="${file.path}">
                            <img src="/icon/move.png" alt="Move">
                        </button>


                        <form action="/delete-content" method="post">
                            <input type="hidden" name="path" th:value="${path}">
                            <input type="hidden" name="name" th:value="${file.name}">
                            <input type="hidden" name="isFile" th:value="${file.isFile()}">
                            <button class="action-btn" id="delete-btn">
                                <img src="/icon/delete.png" alt="Delete">
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

<div id="moveModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Выберите папку назначения для <span id="fileName"></span></h3>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>

        <div class="modal-body">
            <div class="directory-list">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" onclick="closeModal()">Отмена</button>

            <form id="moveForm" action="/move-content" method="post">
                <input type="hidden" name="path" th:value="${path}">
                <input type="hidden" name="name" value="">
                <input type="hidden" name="destinationPath" value="">
                <input type="hidden" name="isFile" value="">
                <button type="submit" class="move-btn">Переместить</button>
            </form>
        </div>

    </div>
</div>


<footer>
    <a href="https://github.com/grafkust/Cloud-files-storage" class="github-link">GitHub Repository</a>
    <span class="author">Автор проекта grafkust</span>
</footer>

<script>
    function redirectToFolder(element) {
        const currentPath = element.getAttribute('current-path');
        const filePath = element.getAttribute('file-path');
        const fileName = element.getAttribute('file-name');
        const isFile = fileName.includes('.') && fileName.split('.').pop().length <= 4;

        if (isFile && !filePath) return;

        let path;

        if (!filePath) {
            path = currentPath ? `${currentPath}` + '/' + `${fileName}` : `${fileName}`;
        } else {
            if (isFile) {
                const fileInRootDir = filePath.indexOf('/') === filePath.lastIndexOf('/');
                if (fileInRootDir)
                    location.href = `/`;
                else
                    path = filePath.substring(filePath.indexOf('/') + 1, filePath.lastIndexOf('/'));
            } else
                path = filePath.substring(filePath.indexOf('/') + 1);
        }
        path = path.endsWith('/') ? path.slice(0, -1) : path;
        location.href = `/?path=${path}`;
    }

    function openModal(button) {
        const fileName = button.getAttribute('data-file-name');
        const isFile = button.getAttribute('data-is-file');
        const filePath = button.getAttribute('data-file-path');
        const modal = document.getElementById("moveModal");
        modal.style.display = "block";

        document.querySelector('#moveForm input[name="name"]').value = fileName;
        document.querySelector('#moveForm input[name="isFile"]').value = isFile;
        document.getElementById('fileName').textContent = fileName;

        loadDirectories('', fileName, filePath);
    }

    function closeModal() {
        document.getElementById("moveModal").style.display = "none";
    }

    function loadDirectories(path, fileName, filePath) {
        path = (path) ? path : '';

        fetch('/get-directories?path=' + encodeURIComponent(path)
            + '&name=' + encodeURIComponent(fileName)
            + '&filePath=' + encodeURIComponent(filePath))
            .then(response => response.text())
            .then(html => {
                document.querySelector('.directory-list').innerHTML = html;
            })
            .catch(error => {
                console.error('Error loading directories:', error);
            });
    }

    function selectDirectory(folderItem) {

        document.querySelectorAll('.folder-item').forEach(item => {
            item.classList.remove('selected');
        });

        folderItem.classList.add('selected');

        document.querySelector('#moveForm input[name="destinationPath"]')
            .value = folderItem.querySelector('.folder-path').value;
    }

    function navigateToFolder(folder) {
        const name = folder.getAttribute('name');
        const newPath = folder.querySelector('.folder-path').value;
        loadDirectories(newPath, name);
    }


</script>

</body>
</html>


