<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>grafCloud</title>
    <link href="/user/user-page.css" rel="stylesheet">
    <link href="/user/move-modal.css" rel="stylesheet">
</head>


<body>
<header>
    <div class="search-container">
        <form action="/" method="get">
            <label>
                <input class="search-input" name="query" onkeydown="if(key === 'Enter') this.form.submit();" placeholder="Поиск файлов и папок..."
                       type="text">
            </label>
        </form>
    </div>
    <div class="user-controls">
        <span class="username" th:text="${username}"></span>
        <form action="/auth/logout" method="get">
            <button class="logout-btn">Logout</button>
        </form>
    </div>
</header>

<main>

    <aside class="sidebar">
        <div class="sidebar-top">

            <form action="/upload-content" enctype="multipart/form-data" method="post">
                <div class="error-message" style="color: red" th:if="${error == 'size'}">
                    Принимаются файлы до 10 Мб.
                </div>
                <label class="sidebar-btn">
                    <img alt="Upload" class="btn-icon" src="/icon/upload-file.png">
                    <input accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xml,,.xlsx,.txt,.mp3,.mp4,.zip,.rar,.java,.dwg" name="data"
                           onchange="this.form.submit()"
                           type="file">
                    <input name="path" th:value="${path}" type="hidden">
                    Загрузить файл
                </label>

            </form>

            <form action="/upload-content" enctype="multipart/form-data" method="post">
                <label class="sidebar-btn">
                    <img alt="Upload" class="btn-icon" src="/icon/upload-folder.png">
                    <input accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xml,,.xlsx,.txt,.mp3,.mp4,.zip,.rar,.java,.dwg" directory="" name="data" onchange="this.form.submit()"
                           type="file"
                           webkitdirectory="">
                    <input name="path" th:value="${path}" type="hidden">
                    Загрузить папку
                </label>

            </form>

            <form action="/create-folder" method="post">
                <button class="sidebar-btn" onclick="this.nextElementSibling.style.display = 'block'; this.style.display = 'none';"
                        type="button">
                    <img alt="New Folder" class="btn-icon" src="/icon/folder.png">
                    <input name="path" th:value="${path}" type="hidden">
                    Создать папку
                </button>
                <div style="display:none;">
                    <label>
                        <input class="search-input" name="name" onkeydown="if(key === 'Enter') this.form.submit();" placeholder="Введите имя папки"
                               type="text">
                    </label>
                </div>
                <div class="error-message" style="color: red" th:if="${error == 'duplicate-folder-name'}">
                    Папка с таким именем уже существует
                </div>
                <div class="error-message" style="color: red" th:if="${error == 'invalid-folder-name'}">
                    Имя папки содержит недопустимые символы
                </div>
            </form>

        </div>

        <form action="/" method="get">
            <input name="path" type="hidden" value="Trash">
            <button class="sidebar-btn">
                <img alt="Trash" class="btn-icon" src="/icon/trash.png">
                Корзина
            </button>
        </form>
    </aside>

    <section class="content">

        <div class="path-navigation">
            <form action="/back" method="get">
                <button class="back-button"
                        th:style="${ (path != null && !path.isEmpty()) || (query != null && !query.isEmpty())} ? ''
                         : 'display: none;'">
                    <input name="path" th:value="${path}" type="hidden">
                    <img alt="Back" src="/icon/back.png">
                </button>
            </form>

            <h2 class="path-item current-path"
                th:text="${!query.isEmpty()} ? ${searchResult + query} : (${!path.isEmpty() || path.contains('/')} ? ${path} : 'Файлы')"
                th:with="searchResult='Вот что мне удалось найти по запросу: '">
            </h2>

            <div class="error-message" style="color: red" th:if="${error == 'move'}">
                Выбранный объект уже находится в указанной директории
            </div>
        </div>

        <div th:each="file : ${content}">
            <div class="folder-item"
                 ondblclick="redirectToFolder(this)"
                 th:current-path="${path}"
                 th:file-name="${file.name}"
                 th:file-path="${file.path}"
                 th:is-file="${file.isFile()}">

                <img alt="Content icon" class="folder-icon" th:src="${file.iconPath}">

                <div class="folder-info">
                    <span class="folder-name" th:text="${file.name}"></span>
                    <span class="folder-date" th:text="${file.lastModified}"></span>
                    <div class="folder-actions">

                        <form action="/download-content" method="get">
                            <input name="path" th:value="${path}" type="hidden">
                            <input name="name" th:value="${file.name}" type="hidden">
                            <input name="isFile" th:value="${file.isFile}" type="hidden">
                            <button class="action-btn">
                                <img alt="Download" src="/icon/download.png">
                            </button>
                        </form>

                        <div th:if="${!file.isSearchResult()}">
                        </div>
                        <button class="action-btn" onclick="openModal(this)"
                                th:data-file-name="${file.name}"
                                th:data-file-path="${file.path}"
                                th:data-is-file="${file.isFile}">
                            <img alt="Move" src="/icon/move.png">
                        </button>


                        <form action="/delete-content" method="post">
                            <input name="path" th:value="${path}" type="hidden">
                            <input name="name" th:value="${file.name}" type="hidden">
                            <input name="isFile" th:value="${file.isFile()}" type="hidden">
                            <button class="action-btn" id="delete-btn">
                                <img alt="Delete" src="/icon/delete.png">
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

<div class="modal" id="moveModal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Выберите папку назначения для <span id="fileName"></span></h3>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>

        <div class="modal-body">
            <div class="directory-list">
            </div>
        </div>

        <div class="modal-footer">
            <button onclick="closeModal()" type="button">Отмена</button>

            <form action="/move-content" id="moveForm" method="post">
                <input name="path" th:value="${path}" type="hidden">
                <input name="name" type="hidden" value="">
                <input name="destinationPath" type="hidden" value="">
                <input name="isFile" type="hidden" value="">
                <button class="move-btn" type="submit">Переместить</button>
            </form>
        </div>

    </div>
</div>


<footer>
    <a class="github-link" href="https://github.com/grafkust/Cloud-files-storage">GitHub Repository</a>
    <span class="author">Автор проекта grafkust</span>
</footer>

<script>
    function redirectToFolder(element) {
        const currentPath = element.getAttribute('current-path');
        const filePath = element.getAttribute('file-path');
        const fileName = element.getAttribute('file-name');
        const isFile = element.getAttribute('is-file');

        if (!isFile) return;

        let path;

        if (!filePath) {
            path = currentPath ? `${currentPath}` + '/' + `${fileName}` : `${fileName}`;
        } else {
            if (isFile) {
                const fileInRootDir = filePath.indexOf('/') === filePath.lastIndexOf('/');
                if (fileInRootDir)
                    location.href = `/`;
                else
                    path = filePath.substring(filePath.indexOf('/') + 1, filePath.lastIndexOf('/'));
            } else
                path = filePath.substring(filePath.indexOf('/') + 1);
        }
        path = path.endsWith('/') ? path.slice(0, -1) : path;
        location.href = `/?path=${path}`;
    }

    function openModal(button) {
        const fileName = button.getAttribute('data-file-name');
        const isFile = button.getAttribute('data-is-file');
        const filePath = button.getAttribute('data-file-path');
        const modal = document.getElementById("moveModal");
        modal.style.display = "block";

        document.querySelector('#moveForm input[name="name"]').value = fileName;
        document.querySelector('#moveForm input[name="isFile"]').value = isFile;

        loadDirectories('', fileName, filePath);
    }

    function closeModal() {
        document.getElementById("moveModal").style.display = "none";
    }

    function loadDirectories(path, name, filePath) {
        path = (path) ? path : '';

        fetch('/get-directories?path=' + encodeURIComponent(path)
            + '&name=' + encodeURIComponent(name)
            + '&filePath=' + encodeURIComponent(filePath))
            .then(response => response.text())
            .then(html => {
                document.querySelector('.directory-list').innerHTML = html;
            })
            .catch(error => {
                console.error('Error loading directories:', error);
            });
    }

    function selectDirectory(folderItem) {

        document.querySelectorAll('.folder-item').forEach(item => {
            item.classList.remove('selected');
        });

        folderItem.classList.add('selected');

        document.querySelector('#moveForm input[name="destinationPath"]')
            .value = folderItem.querySelector('.folder-path').value;
    }

    function navigateToFolder(folder) {
        const newPath = folder.querySelector('.folder-path').value;
        const fileName = folder.getAttribute('data-file-name');
        const filePath = folder.getAttribute('data-file-path');

        loadDirectories(newPath, fileName, filePath);
    }

    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            document.querySelectorAll('.error-message').forEach(function (element) {
                element.classList.add('fade-out');
            });
        }, 2500);

        setTimeout(function () {
            document.querySelectorAll('.error-message').forEach(function (element) {
                element.classList.add('hidden');
            });
        }, 3000);
    });


</script>

</body>
</html>


