<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="folder-item" onclick="selectDirectory(this)"
     ondblclick="navigateToFolder(this)"
     th:data-file-name="${name}"
     th:data-file-path="${filePath}"
     th:each="dir : ${directories}">

    <img alt="folder-icon" class="folder-icon" th:src="${dir.iconPath}">
    <div class="folder-info">
        <span class="folder-name" th:text="${dir.name}"></span>
        <input class="folder-path" th:value="${dir.path}" type="hidden">
    </div>
</div>

</body>
</html>