<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:each="dir : ${directories}" class="folder-item"
         onclick="selectDirectory(this)" ondblclick="navigateToFolder(this)">

        <img alt="folder-icon" th:src="${dir.iconPath}" class="folder-icon">
        <div class="folder-info">
            <span class="folder-name" th:text="${dir.name}"></span>
            <input type="hidden" class="folder-path" th:value="${dir.path}">
        </div>
    </div>

</body>
</html>