<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка сервера</title>
    <link rel="stylesheet" href="/error/500-style.css">
</head>
<body>
    <header class="header">
       <h3>Ой...Ой...Ой...</h3>
    </header>

    <main class="main">
        <div class="error-container">
            <h1 class="error-code">500</h1>
            <h2 class="error-title">Внутренняя ошибка сервера</h2>
            <h1 th:text="${error}"></h1>
            <p class="error-description">
                Произошла непредвиденная ошибка при обработке вашего запроса.<br>
            </p>
            <div class="error-details">
                <h3>Что можно сделать:</h3>
                <ul>
                    <li>Попробуйте обновить страницу через несколько минут</li>
                    <li>Проверьте соединение с интернетом</li>
                    <li>Очистите кеш браузера</li>
                    <li>Если проблема сохраняется, сообщите об ошибке</li>
                </ul>
            </div>
            <div class="buttons">
                <a href="https://t.me/grafkust" target="_blank" class="button">Сообщить об ошибке</a>
                <a href="/prepare-main-directories" class="button secondary">На главную</a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <img src="/icon/grafkust-visualization.svg" alt="Logo" class="logo">
       
    </footer>
</body>
</html>
